header {
    flex: 0 0 auto;

    margin: 0;
    text-align: center;
    background-color: lightblue;
    font-size:5em;
}

.wrapper{
    flex: 1 1 auto;
}


body{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
}

#navbar a {
    margin: 0;
    padding: 0 1em;
    background-color: burlywood;
    width: 33%;
    text-align: center;
    text-decoration: none;
    color: black;
}